<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/ad564b42ff.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="containerInformations">
        <form action="" method="POST" class="big-form">
                  
            <div class="row100">
                
               <div class="left">
                <p class="connect">Informations<p>
                    <div class="col">
                        <div class="inputBox">
                        <input type="text" name="firstname" id="firstname" required>
                            <span class="text"> Prénom</span>
                            <span class="line"></span>
                        </div>
                    </div>

                    <div class="col">
                    <div class="inputBox">
                        <input type="text" name="lastname" id="lastname" required>
                        <span class="text"> Nom de famille</span>
                        <span class="line"></span>
                    </div>
                </div>

                    <div class="col">
                        <div class="inputBox">
                            <input type="text" name="email" id="email" required>
                            <span class="text"> Adresse E-mail</span>
                            <span class="line"></span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="inputBox">
                            <input type="text" name="email" id="email" required>
                            <span class="text"> Adresse E-mail</span>
                            <span class="line"></span>
                        </div>
                    </div>

                    <a href=""><div class="annuler">Annuler</div></a>
                </div>

                <div class="trait"></div>

                <div class="right">
                    <!-- <div class="icon">
                       <a href="#"><div class="back"><i class="fa-solid fa-user" aria-colspan="imgLogo2"></i></div> </a> 
                        <a href="#"><div class="back"><i class="fa-solid fa-comments"></i></div></a> 
                      <a href="#"><div class="back"><i class="fa-solid fa-comments"></i></div> </a> 
                      <a href="#"><div class="back"> <i class="fa-solid fa-check"></i></div> </a> 
                    </div> -->
                    <div class="col">
                        <div class="inputBox">
                        <input type="text" name="firstname" id="firstname" required>
                            <span class="text"> Adresse</span>
                            <span class="line"></span>
                        </div>
                    </div>

                    <div class="col">
                    <div class="inputBox">
                        <input type="text" name="lastname" id="lastname" required>
                        <span class="text"> Pays / région</span>
                        <span class="line"></span>
                    </div>
                </div>

                    <div class="col">
                        <div class="inputBox">
                            <input type="text" name="email" id="email" required>
                            <span class="text"> Ville</span>
                            <span class="line"></span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="inputBox">
                            <input type="text" name="email" id="email" required>
                            <span class="text"> Code postal</span>
                            <span class="line"></span>
                        </div>
                    </div>

                    <a href=""><div class="continuer">Continuer</div></a>
                </div>
                </div>

      </form>  
    
    </div>
    
    </div>
    
</body>
</html>