{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}

    <form action="">
    <label for="">Email : </label>
    <input type="mail" id="email">
    <label for="">Mot de passe :</label>
    <input type="password" id="password">
{% endblock %}