{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <form>
        <label for="firstname">Prénom: </label>
        <input type="text" id="firstname">
    </form>
{% endblock %}