{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="./css/User/register.css">
{% endblock %}

{% block title %}Register{% endblock %}

{% block content %}
    <form action="" method="POST">
        <label for="firstname">Prénom: </label>
        <input type="text" name="firstname" id="firstname">
        <br>

        <label for="lastname">Nom de famille: </label>
        <input type="text" name="lastname" id="lastname">
        <br>

        <label for="email">Adresse E-mail</label>
        <input type="email" name="email" id="email">
        <br>

        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password">
        <br>

        <label for="passwordVerification">Confirmer le mot de passe</label>
        <input type="password" name="passwordVerification" id="passwordVerification">
        <br>
>
        <label for="reason">Reason</label>
        <select name="reason" id="reason"></select>
        <br>

        <label for="phoneNumber">Numéro de téléphone</label>
        <input type="text" name="phoneNumber" id="phoneNumber">
        <br>

        <input type="submit">
    </form>
    {% endblock %}