{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <form action="">
        <label for="">Prénom</label>
        <input type="text">
        <br>
        <label for="">Name</label>
        <input type="text">
        <br>
        <label for="">Adresse E-mail</label>
        <input type="mail">
        <br>
        <label for="">Mot de passe</label>
        <input type="password">
        <br>
        <label for="">Confirmer le mot de passe</label>
        <input type="password">
        <br>
        <label for="">Reason</label>
        <select name="" id=""></select>
    </form>
{% endblock %}