<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="bloc-login">

        <div class="container">
          <form action="" method="POST" class="big-form">
                    <p class="connect">Inscription<p>
              <div class="row100">
                  
                 
                  <div class="col">
                      <div class="inputBox">
                        <input type="text" name="firstname" id="firstname" required>
                          <span class="text"> Prénom</span>
                          <span class="line"></span>
                      </div>
                  </div>

                  <div class="col">
                    <div class="inputBox">
                        <input type="text" name="lastname" id="lastname" required>
                        <span class="text"> Nom de famille</span>
                        <span class="line"></span>
                    </div>
                </div>

                <div class="col">
                    <div class="inputBox">
                        <input type="email" name="email" id="email" required>
                        <span class="text"> Adresse E-mail</span>
                        <span class="line"></span>
                    </div>
                </div>


                <div class="col">
                    <div class="inputBox">
                        <input type="password" name="password" id="password" required>
                        <span  class="text"> Confirmer mot de passe </span>  <button id="btn2" class="btn1 btn">Afficher</button>
                        <span class="line"></span>
                    </div>
                </div>

                  <div class="col">
                    <div class="inputBox">
                        <input type="password" name="passwordVerification" id="passwordVerification" required>
                        <span  class="text"> Confirmer mot de passe </span>  <button id="btn2" class="btn1 btn">Afficher</button>
                        <span class="line"></span>
                    </div>
                </div>

                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="phoneNumber" id="phoneNumber" required>
                        <span class="text"> n° téléphone</span>
                        <span class="line"></span>
                    </div>
                </div>
                  
              </div>
              
              <div class="row100">
                  <div class="col"> 
                      <input class="subConn" type="submit" name="login" value="Se Connecter">
                  </div>
              </div> 
               
        </form>  
      
      </div>
      
      </div>
    
</body>
</html>