<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/ad564b42ff.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="containerTop">
            <div class="header-image">
                <a href="/"><img src="./images/logoTMH.png" alt="" srcset="" class="imgLogo"></a> 
            </div>

            <div class="accuMark">
                <a href="/">Accueil</a>
                <a href="/marketplace">Market</a>
            </div>

            <div class="header-image right">
                <i class="fa-solid fa-user" aria-colspan="imgLogo2"></i>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="maison">
            <p>Maison neuf - Paris 17 ème</p>
            <div class="icon">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-download"></i>
            </div>
        </div>
        <div class="images">
            <div class="im1"></div>
            <div class="imagesBottom">

            </div>
        </div>

        <div class="containerLR">

       
            <div class="leftDiv">
                <div class="top">
                    
                </div>
                <div class="bottom">
                    <div class="firstBottom"></div>
                    <div class="secondBottom"></div>
                </div>
            </div>
            <div class="night">
                <div class="vingt">
                    <p> <p id="cent">120€</p>/ nuit</p>
                </div>
                <p class="star"><i class="fa-solid fa-star"></i> 4,8</p>
                <div class="containerNight">
                    <div class="date">
                        <input type="date"> <i class="fa-solid fa-arrow-right-long"></i><input type="date">
                    </div>
                    <div class="ligne"></div>
                    <p class="adult">2 Adultes</p>
                </div>
                <a href="#"><div class="reserving"><p>Réserver</p></div></a>
            </div>
        </div>
        <p class="description">Description du logement</p>
        <p class="description">Technologies présentes dans le logement</p>
        <p class="avis">Avis clients</p>
        <div class="containerAvis">
            <div class="Avis1">
                <div class="containerInside1">
                    <div class="containerInsideLeft">
                        <i class="fa-solid fa-user" aria-colspan="imgLogo2"></i>
                        <p>David</p>
                        <p>- décembre 2021</p></div>
                    </div>
            </div>
        </div>


    </div>
</body>
</html>