@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400&display=swap');

body{
    background-color: #FDFDFD;
    .container{
        margin: 0 80px;
    }
    header{
        .containerTop{
            display: flex;
            justify-content: center;
            margin-top: 25px;
            gap: 600px;
            .imgLogo{
                display: flex;
                align-items: center;
                height: 65px;
                width: 65px;
                justify-content: center;
                margin-top: 11px;
                cursor: pointer;
            }
            .accuMark{
                display: flex;
                gap: 40px;
                p{
                    font-family: 'League Spartan', sans-serif;
                    font-size: 30px;
                    cursor: pointer;
                }
                p:hover{
                    text-decoration: underline black solid 1px;
                }
            }
            i{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                cursor: pointer;
            }
            .imgLogo2{
                margin-top: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .house{
        margin: 0 150px;
        .paris{
            display: flex;
            justify-content: space-between;
            margin-top: 120px;
            p{
                font-family: 'League Spartan', sans-serif;
                font-size: 30px;
                margin: 0px;
            }
            .icon{
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 30px;
            }
        }
    }
}