@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400&display=swap");
body {
  background-color: #FDFDFD;
  margin: 0;
 }
 body header {
   background-color: #EEEEEE;
   padding: 25px;
 }

 body main.content {
   min-height: 300px;
 }
  body header .containerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;}
    body header .containerTop .imgLogo {
      display: flex;
      align-items: center;
      height: 65px;
      width: 65px;
      justify-content: center;
      cursor: pointer; }
      body header .header-image {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      body header .right {
        justify-content: flex-end;
        gap: 10px;
      }
    body header .containerTop .accuMark {
      display: flex;
      align-items: center;
      gap: 40px; }
      body header .containerTop .accuMark a {
        color: black;
        text-decoration: none;
        font-family: 'League Spartan', sans-serif;
        font-size: 30px;
        cursor: pointer; }
      body header .containerTop .accuMark a:hover {
        text-decoration: underline black solid 1px; }
    body header .containerTop i {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      cursor: pointer; }
    body header .containerTop .imgLogo2 {
      display: flex;
      justify-content: center;
      align-items: center; }

    .container{
        margin: 0 150px;
        .maison{
            display: flex;
            justify-content: space-between;
            p{
                font-family: 'League Spartan', sans-serif;
                font-size: 24px;
            }
            
            .icon{
                display: flex;
                justify-content: center;
                gap: 30px;
                align-items: center;
                font-size: 22px;
            }
        }
        .leftDiv{
            height: 100%;
            height: 800px;
            width: 60%;
            .top{
                height: 53%;
             
                border-radius: 15px;
                background-image: url('./images/caroussel2.png');
                background-size: cover;
                background-position: center;
            }
            .bottom{
                height: 47%;
                display: flex;
                align-items: center;
                gap: 20px;
                
                .firstBottom{
                    width: 40%;
                    background-color: purple;
                    margin-top: 25px;
                    border-radius: 15px;
                    height: 94%;
                    background-image: url('./images/caroussel2.png');
                    background-size: cover;
                    background-position: center;
                }
                .secondBottom{
                    width: 60%;
                    background-color: green;
                    border-radius: 15px;
                    height: 72%;
                    display: flex;
                    align-items: center;
                    background-image: url('./images/caroussel1.png');
                    background-size: cover;
                    background-position: center;
                }

            }
        }

        .containerLR{
            display: flex;
            justify-content: space-between;
            margin-bottom: 150px;
            .night{
                border: 1px solid lightgrey;
                height: 490px;
                padding: 0 50px;
                border-radius: 10px;
                .vingt{
                    display: flex;
                    margin-top: 40px;
                    font-family: 'League Spartan', sans-serif;
                    font-size: 24px;
                    p{
                        margin: 0;
                    }
                }
                }
                .star{
                    margin: 6px 0 23px 0;
                    font-size: 16px;
                    font-weight: bold;
                    font-family: 'League Spartan', sans-serif;
                    i{
                        color: #00BFB2;
                    }
                }
                .containerNight{
                    border: 1px solid black;
                    padding: 15px 20px;
                    width: 300px;
                    
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    .date{
                        display: flex;
                        justify-content: center;
                        gap: 19px;
                        width: 100%;
                        input{
                            font-family: 'League Spartan', sans-serif;
                            font-size: 15px;
                        }
                        i{
                            color: #00BFB2;
                        }
                    }
                    .ligne{
                        height: 1px;
                        background-color: black;
                        display: flex;
                        margin-top: 16px;
                    }
                    .adult{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: 'League Spartan', sans-serif;
                        font-size: 17px;
                        font-weight: bold;
                        margin: 15px 0 0 0;
                    }

                }
                a{
                    text-decoration: none;
                
                    .reserving{
                        background-color:#55BCB2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 20px;
                        border-radius: 10px;
                        font-family: 'League Spartan', sans-serif;
                        color: white;
                        font-size: 24px;
                       p{
                        margin: 14px 0;
                       }
                    }
                }
            }
            .description{
                font-family: 'League Spartan', sans-serif;
                font-size: 24px;
                margin-bottom: 200px;
            }
            .avis{
                font-family: 'League Spartan', sans-serif;
                font-size: 24px;
                margin-bottom: 80px;
            }
            .containerAvis{
                .Avis1{
                    .containerInside1{
                        background-color: red;
                        .containerInsideLeft{
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
        
